<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
</head>
<body>
    {{#if log}}
    <header>
        <nav>
            <a>{{nome}}</a> &nbsp;&nbsp;&nbsp;
            <a href="/cadastro">Cadastrar</a>
            <a href="/listar">Listar</a>
            <a href="/atualizar">Atualizar</a>
            <a href="/apagar">Apagar</a>
            <a href="/">Sair</a>
        </nav>
    </header>
    {{else}}
    <header>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>
    {{/if}}
    <main>
    {{{body}}}
    </main>
    <footer>

    </footer>
</body>
</html>