<form action='/cadastro' method='post' class="caixas"><br>
    <input type="text" name="nome" placeholder="Nome" required><br>
    <input type="email" name="email" placeholder="E-mail" required><br>
    <input type="password" name="senha" placeholder="Senha" {{!-- minlength="3"  --}} maxlength="20" required><br><br>
    <button type="submit">Cadastrar</button>
</form>
{{#if msg}}
    <p>{{msg}}</p>
{{/if}}

