<table>
    <thead>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
    </thead>
{{#each tabela}}
    <tr>
        <td>{{this.nome}}</td>
        <td>{{this.email}}</td>
        <td>{{this.senha}}</td>
    </tr>
{{/each}}
</table>