<h1>Página inicial</h1>
<br>
<form action="/login" method="post">
<label for="email" > Digite seu email</label>
<input type="text" name="email"><br>
<label for="senha">Digite sua senha</label>
<input type="text" name="senha"><br>
<br>
<button type="submit">Enviar</button>
</form>