<h1>Página inicia</h1>
<br>
<form action="/login" method="post">
<label for="email">Digite seu email</label>
<input type="text" name="email">
<label for="senha">Digite sua senha</label>
<input type="text" name="senha">
<br><br>
<button type="submit">Enviar</button>
</form>